@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand";
  margin: 0;
  color: blueviolet;
}

.navbar {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid;
}

.navbar h1 {
  color: brown;
}

.links {
  margin-left: auto;
}

.navbar a {
  padding: 6px;
  text-decoration: none;
  margin-left: 16px;
}

.navbar a:hover {
  color: brown;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: auto;
}

.blog-preview {
  padding: 10px 10px;
  margin: 20px auto;
  border-bottom: 1px solid white;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px goldenrod;
}

.blog-preview h2 {
  font-size: 20px;
  color: rgb(141, 226, 43);
  margin-bottom: 8px;
}
